In [1]:
#list intersection
def inter(list1,list2):
    list3=list1 & list2
    return list(list3)

In [2]:
inter({1,2,2,3,4},{2,3,5,6,6})

[2, 3]

In [3]:
# rat count house
def house(r,units,arr):
    result=0
    n=r*units
    if len(arr)==0:
        return 0
    for i in range(len(arr)):
       result+=arr[i]
       if result>=n:
           return i+1
    return -1
r=8
units=2
arr=[2,8,3,7,4,1]

In [4]:
house(r,units,arr)

4

In [5]:
#factors
def factors(num):
    result=[]
    if num<=0:
            return 0
    for i in range(1,num+1):
       
        if num%i==0:
            result.append(i)
    return result

In [6]:
factors(12)

[1, 2, 3, 4, 6, 12]

In [7]:
#list compression
def factors(num):
    if num<=0:
        return 0
    mylist=[i for i in range(1,num+1) if num%i==0]
    return mylist

In [8]:
factors(12)

[1, 2, 3, 4, 6, 12]

In [9]:
def reverse(arr):
    l=arr[::-1]
    return l

In [10]:
reverse("kill")

'llik'

In [11]:
#reverse the string
class mst:
    def __init__ (self):
        self.stack=[]
    def rev(self,mstr):
        result=" "
        for i in mstr:
            self.stack.append(i)
        for i in range(len(self.stack)):
            popped=self.stack.pop()
            result=result+popped
        return result

In [12]:
k=mst()
k.rev("kill")

' llik'

In [13]:
#find missing number
def findd(arr):
    for i in range(1,len(arr)+1):
        if i not in arr:
            return i*"*"

In [14]:
findd([1,2,3,5,6,8])

'****'

In [15]:
mystr="A"
print(ord(mystr)-64)

1

In [16]:
#excel sheet column number
def col(name):
    result=0
    for i in name:
        result=result*26+ord(i)-64
    return result

In [17]:
col("AAA")

703

In [18]:
# atm discription
def ATM():
    print("welcome to atm")
    pins={"shahi":"2344","dwani":"5645"}
    bal={"shahi":34556,"dwani":56443}
    name=input("enter name")
    pin=input("enter pin")
    if pins[name]!=pin:
        return "invalid pin"
    while True:
        option="1.withdrawal\n"+"2.deposit\n"+"3.balance\n"+"4.offers\n"+"5.change pin\n"+"6.break"
        print(option)
        option=int(input("enter the option"))
        if option==1:
            amt=int(input("enter amount to withdraw"))
            withdrawal=bal[name]-amt
            return withdrawal  
        elif option==2:
            amt=int(input("enter the amount to deposit"))
            deposit=bal[name]+amt
            return deposit
        elif option==3:
            return bal[name]
        elif option==4:
            print("FD rates are high ")
        elif option==5:
            newpin=input("enter pin")
            pins[name]=newpin
            print("pin updated")
        elif option==6:
            print("exit")
            break
        else:
            print("invalid")

In [19]:
ATM()

welcome to atm

enter name shahi
enter pin 2344

1.withdrawal
2.deposit
3.balance
4.offers
5.change pin
6.break

enter the option 1
enter amount to withdraw 3444

31112

In [58]:
class linkedlist:
    class Node:
        def __init__ (self,data):     #creating a node
            self.data=data            
            self.next=None
    def __init__ (self):
        self.head=None #where no data is precent so it is null
    def insertbegg(self,data):
        newnode=linkedlist.Node(data)#creating a newnode 
        newnode.next=self.head 
        self.head=newnode
    def traverse(self,current):
        current=self.head
        while current:
            print(current.data,end="-->")
            current=current.next
        print(None)
        ###NEXT DAY
    def nodefromrev(self,n): #n=3
        count=0
        current=self.head
        while current:
            count=count+1
            current=current.next
        if count==n: 
            return self.head.next
        #finding before node
        ptr1=self.head
        for _ in range(count-n-1):
            ptr1=ptr1.next
        ptr1.next=ptr1.next.next
        return self.head

In [59]:
ll=linkedlist()
ll.insertbegg(56)
ll.insertbegg(67)
ll.insertbegg(58)
ll.insertbegg(66)
ll.insertbegg(34)
ll.nodefromrev(3)

In [60]:
ll.traverse(linkedlist)

34-->66-->67-->56-->None